{% extends "blogin/layout.html" %}

{% block main_pic %}
    <header class="masthead" style="background-image: url('/static/bootstrap/img/image-about.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">

                <span class="subheading">
                    The true alchemists do not change lead into gold; they change the world into words.
                                                                        ~ William H. Gass
                </span>
              </div>
            </div>
          </div>
        </div>
    </header>

{% endblock main_pic%}

{% block post %}
    <h1>About Page</h1>
{% endblock post %}