{% extends "blogin/layout.html" %}

{% block main_pic %}
    <header class="masthead" style="background-image: url('/static/bootstrap/img/image-about.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">

                <span class="subheading">
                    The true alchemists do not change lead into gold; they change the world into words.
                                                                        ~ William H. Gass
                </span>
              </div>
            </div>
          </div>
        </div>
    </header>

{% endblock main_pic%}

{% block post %}
    <div class="about-page">
        <h1>About Page</h1>
        <p>
            <b>This project is not meant for commercial application and strictly adheres to the "create and learn" philosophy.</b>
            <br>
            The Technologies used in this site for deployment are- <br>
                *   Django <br>
                *   AWS buckets <br>
                *   Bootstrap <br>
                *   Heroku <br>


        </p>
        <p align="center">
            Developed by DK18.
        </p>
    </div>
{% endblock post %}