{%  extends "blogin/layout.html" %}

{% block main_pic %}

    <header class="masthead" style="background-image: url('/static/bootstrap/img/image.jpg')">
        <div class="overlay">
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                <h1 style="color:white">BLogin</h1>
                <span class="subheading">
                    A Django powered blogging site.
                </span>
              </div>
            </div>
          </div>
        </div>
    </header>


{% endblock main_pic %}

{% block post %}
    {% if object.author == user %}
        <div align="center">
            <a class = 'btn btn-outline-secondary' href="{% url 'post-update' object.id %}">
            Update
            </a>
            <a class = 'btn btn-outline-danger' href="{% url 'post-delete' object.id %}">
                Delete
            </a>
        </div>
    {% endif %}
    <br>
    <br>
    <div class="blog-container">
                <div class="blog-header">
                    <h1>
                        {{ post.title }}

                        <hr>
                    </h1>

                    <div class="author">
                        <img src="{{ post.author.profile.image.url }}" alt="">
                        <p><a href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a></p>
                    </div>
                </div>
                <div class="blog-content">
                    <div class="blog-text">
                        {{ post.content }}
                    </div>
                    <div class="blog-info">
                        <p>
                            {{ post.date_posted|date:'F d, Y' }}
                        </p>
                        <button>
                            <i class="fas fa-heart"></i>
                        </button>
                    </div>
                </div>
            </div>


{% endblock post %}