{%  extends "blogin/layout.html" %}

{% block main_pic %}
    <header class="masthead" style="background-image: url('/static/bootstrap/img/image.jpg')">
        <div class="overlay">

        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                <h1 style="color:white">BLogin</h1>
                <span class="subheading">
                    A Django powered blogging site.
                </span>
              </div>
            </div>
          </div>
        </div>
    </header>

{% endblock main_pic %}

{% block post %}
    <h1 class="mb-3 post-by" align="center">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }}) </h1>
    {% for post in posts %}
        <div class="blog-container">
                <div class="blog-header">
                    <h1>
                        {{ post.title }}

                        <hr>
                    </h1>

                    <div class="author">
                        <img src="{{ post.author.profile.image.url }}" alt="">
                        <p>{{ post.author }}</p>
                    </div>
                </div>
                <div class="blog-content">
                    <div class="blog-text">
                        {{ post.content }}
                    </div>
                    <div class="blog-info">
                        <p>
                            {{ post.date_posted|date:'F d, Y' }}
                        </p>
                        <button>
                            <i class="fas fa-heart"></i>
                        </button>
                    </div>
                </div>
        </div>
        <hr>
    {% endfor %}
    <div align="center">
        {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-2" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-2" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-2" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class='btn btn-outline-info mb-2' href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info mb-2" >Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info mb-2" >Last</a>
        {% endif %}

        {% endif %}
    </div>
{% endblock post %}

{% block masthead %}

{% endblock %}