{% extends 'blogin/layout.html' %}
{% load crispy_forms_tags %}
{% block main_pic %}
    <header class="masthead" style="background-image: url('/static/bootstrap/img/image.jpg')">
        <div class="overlay">

        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                <span class="subheading">
                   “A writer is a person for whom writing is more difficult than it is for other people.” ~Thomas Mann.
                </span>
              </div>
            </div>
          </div>
        </div>
    </header>
{% endblock main_pic %}

{% block profile %}
    <div class="container-fluid ">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="content-section my-card">
                    <div class="media">
                        <img src="{{ user.profile.image.url }}" alt="" class="rounded-circle account-img">
                        <div class="media-body">
                            <h2 class="account-heading">{{ user.username }}</h2>
                            <p class="text-secondary">{{ user.email }}</p>
                        </div>
                    </div>
                   <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-3">Profile Info</legend>
                            {{ u_form|crispy }}
                            {{ p_form|crispy }}
                        </fieldset>
                        <div class="form-group" align="center">
                            <button class="btn btn-outline-info"  type="submit">
                                Update
                            </button>
                        </div>
                    </form>

                </div>

            </div>

        </div>

    </div>
{% endblock profile %}
